<component name="ArtifactManager">
  <artifact type="war" name="springmvc-普通参数传递:war">
    <output-path>$PROJECT_DIR$/../springmvc-普通参数传递/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc-普通参数传递</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc-02-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc-普通参数传递:war exploded" />
    </root>
  </artifact>
</component>