<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script type="text/javascript" th:inline="javascript">
    var jname = [[${name}]]
    console.log("name==="+jname);

    var stus= [[${stulist}]]
    for (var i = 0; i <stus.length ; i++) {
      var stu = stus[i];
      console.log("i"+i,"id="+stu.id+"name="+stu.name+"age"+stu.age)
    }
  </script>
</head>
<body>
<p>常用获取模型中数据的方法</p>
<p th:text="${name}"></p>
<br>
<p>使用内联inline的方式</p>
<p>[[${name}]]</p>
<br>
<p>使用utext方式获取数据</p>
<p th:utext="${info}"></p>
<br>
<p>使用内联inline的utext方式</p>
<p>[(${info})]</p>
<br>
<p>禁用内联方式</p>
<p th:inline="none">[[我是原样输出的数据1]]</p>
<p th:inline="none">[(我是原样输出的数据2)]</p>
</body>
</html>